<div class="comment" id="comment_id_<%= comment.id %>">
  <div class="comment_head"><strong><%= image_tag comment.user.gravatar_link, :class => "avatar" %> <%= comment.user.name %></strong>, <%= comment.updated_at %>
    <div class="comment_actions">
      <%= link_to "Antworten", project_fragment_comment_reply_path(comment.fragment.project, comment.fragment, comment), :remote => true %>
      <% if can? :destroy, comment %>
        | 
        <%= link_to "x", [comment.fragment.project ,comment.fragment, comment], :method =>"delete", :remote => true, :confirm => "Wirklich löschen?" %>
      <% end %>
    </div>
  </div>
  <p><%= comment.body %></p>
</div>
