<%= simple_form_for(@translation) do |f| %>
  <fieldset>
    <div class="clearfix">
      <%= f.label :source_lang%>
      <div class="input">
        <%= f.text_area :source_lang, :rows => 3%>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :target_lang%>
      <div class="input">
        <%= f.text_area :target_lang, :rows => 3%>
      </div>
    </div>
    <div class="actions">
      <%= f.submit t("translation.submit"), :class => "btn primary"%>
    </div>
  </fieldset>
<% end %>
