<% @comments.each do |comment| %>
    
<div class="comment" id="comment_id_<%= comment.id %>">
  <div class="comment_head"><strong><%= image_tag comment.user.gravatar_link, :class => "avatar" %> <%= comment.user.name %></strong>, <%= comment.updated_at %>
    <div class="comment_actions">
      <%= link_to "Zum Fragment gehen", project_fragment_path(comment.fragment.project, comment.fragment) %>
    </div>
  </div>
  <p><%= Kramdown::Document.new(comment.body).to_html.html_safe %></p>
</div>
<% end %>
