<div class="container">
  
  <section id="welcome_text">
    <div class="page_header">
      <h1>Zui - Gemeinsam Texte bearbeiten <small>Los geht's!</small></h1>
      <div class="row">
        <% if user_signed_in? %>
          <div class="span16">
            <%= render "news" %> 
          </div>
          <div class="span8 columns">
            <h3>Meine Projekte</h3>
            <% if @projects.empty? %>
              <p>Noch keine Projekte. Legen sie eins an! <%= link_to "Neues Project", new_project_path %></p>
            <% else %>
              <%= render "projects/list" %>
            <% end %>
          </div>
          
          <div class="span8 columns">
            <h3>Letze Aktivität</h3>
            <%= render "activities" %>  
          </div>
          
        <% else %>
          <div class="span10 columns">
            <h3>Was ist das fuer eine Seite?</h3>
            <p>
              
            </p>
          </div>
          <div class="span6 columns">
            <h3>Neuer Nutzer?</h3>
            <p>Wenn sie sich noch nicht registriert haben holen sie einfach einen <%= link_to "neuen Account", new_user_registration_path%>. Wenn sie schon einen Zugang haben, <%= link_to "melden sie sich an", new_user_session_path %>.</p>
          </div>

        <% end %>
      </div>
    </div>
  </section>
</div>
