<div class="container">
  <div class="page-header">
    <h1>Projektübersicht</h1>
  </div>
  <div class="row">
    <div class="span4 columns">
      <h3>Was man hier macht</h3>
      <p>
        Lorem ipsum dolor sit amet.
      </p>
      <%= link_to 'Edit', edit_project_path(@project) %> |
      <%= link_to 'Back', projects_path %>

    </div>
    <div class="span12 columns">
      <div id="project_info">
        <h3><%= @project.title %></h3>
        <p><%= @project.description %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span4 columns">
      <h3>Was man hier macht</h3>
      
      <p>
        Lorem ipsum dolor sit amet.
      </p>

    </div>
    <div class="span12 columns">
      <div id="fragments">
        <h3>Fragmente</h3>
        <% if @project.fragments.empty? %>
          <div class="alert-message block-message info"> 
            <p><strong>Keine Fragmente vorhanden!</strong> Um die Texte zu bearbeiten müssen sie in Fragmenten hinzugefügt werden. Fragmente können Texte oder Bilder sein.</p> 
            <div class="alert-actions"> 
              <%= link_to "Fragment erstellen", new_project_fragment_path(@project), :class => "btn small" %>
            </div> 
          </div> 
          

        <% else %>
           <table class="zebra-striped"> 
            <thead> 
            <tr> 
              <th>Name</th>
              <th>Inhalt</th> 
            </tr>
            </thead> 
            <tbody> 
              <% @project.fragments.each do |fragment| %>
                <tr>
                  <td><%= link_to fragment.title, [@project, fragment] %></td>
                  <td><%= link_to truncate(fragment.content, :length => 50), [@project, fragment] %></td>
                </tr>
              <% end %>
            </tbody> 
          </table> 
          <%= link_to "Fragment erstellen", new_project_fragment_path(@project), :class => "btn primary" %>

        <% end %>
      </div>
    </div>
  </div>
</div>
