<div class="container">
  <div class="row">
    <div class="span16 columns">
      <%= render "devise/shared/flash-messages" %>
      <div id="fragment_text">
        <h3><%= @fragment.title %></h3>
        <%= Kramdown::Document.new(@fragment.content).to_html.html_safe%>
      </div>
      <div id="comments">
        <h3>Kommentare</h3>
        <div id="comments_text">
          <%= nested_comments @comments.arrange %>
        </div>
        <h3><%= t "comment.new" %></h3>
        <%= render "comments/form" %>
      </div>
    </div>
  </div>
</div>
