<div class="container">
  <div class="row">
    
    <div class="span4 columns">
      <h3>Bild</h3>
      <% if @fragment.image.url %>
        <%= image_tag @fragment.image.url %>
      <% end %>
    </div>
    <div class="span12 columns">
      <%= render "devise/shared/flash-messages" %>
      <div id="fragment_text">
        <h3><%= @fragment.title %></h3>
        <%= Kramdown::Document.new(@fragment.content).to_html.html_safe%>
      </div>
      <div id="comments">
        <h3>Kommentare</h3>
        <div id="comments_text">
          <%= nested_comments @comments.arrange %>
        </div>
        <%= render "comments/form" %>
      </div>
    </div>
  </div>
</div>
