<!DOCTYPE html>
<html>
<head>
  <title>Zui</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="topbar">
  <div class="fill">
    <div class="container">
      <h3><%= link_to "Zui", root_path %></h3>
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to "Projekte", projects_path %></li>
        <% end %>
      </ul>
      <ul class="nav secondary-nav">
        <% if user_signed_in? %>
          <li><%= link_to "Abmelden", destroy_user_session_path, :method => :delete %></li>
          <%= image_tag current_user.gravatar_link, :class => "avatar" %>
        <% else %>
          <li><%= link_to "Anmelden", new_user_session_path %></li>
          <li><%= link_to "Registrieren", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
